#gameEl > br{
    display: block;
    content: "";
    margin-top: 16px;
}

.sprite {
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
}

.tile {
    z-index: 0;
}

.log, .car {
    z-index: 1;
}

#player {
    z-index: 2;
}

@media  screen and (max-width:388px),
        screen and (max-height: 574px){
    .sprite {
        height: 16px;
        width: 16px;
    }
}
