small {
    display: none;
}

#scoreEl, #nameEl {
    font-size: 32px;
}

#gameControllerEl {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;

}

.pad-dirs {
    flex: 1 1 0;
    display: flex;
    flex-flow: row;
    height: 100%;
    padding: 1%;
}

.pad-main {
    flex: 1 1 0;
    height: 100%;
}

.button {
    flex: 1 1 0;
    padding: 1%;
}

.sprite {
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
}

.tile {
    z-index: 0;
}

#player {
    z-index: 1;
}

@media screen and (max-width:388px){
    #gameDisplayEl {
        height: 192px;
        width: 192px;
        grid-template-rows:    16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
        grid-template-columns: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    }

    .sprite {
        height: 16px;
        width: 16px;
    }

    #scoreEl, #nameEl {
        font-size: 16px;
    }
}

@media screen and (max-width:192px){
    * {
        display: none;
    }
}
