h1 {
    font-size: xx-large;
}

#headboardEl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameEl > br{
    display: block;
    content: "";
    margin-top: 16px;
}

#gameControllerEl {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    padding: 1%;
}

.button {
    flex: 1 1 0;
    padding: 1%;
}

.sprite {
    image-rendering: pixelated;
    height: 32px;
    width: 32px;
}

.tile {
    z-index: 0;
}

.log, .car {
    z-index: 1;
}

#player {
    z-index: 2;
}

@media  screen and (max-width:388px),
        screen and (max-height: 574px){
    .sprite {
        height: 16px;
        width: 16px;
    }
}
