* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {  
    overflow-y: scroll;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

footer, .shell-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 48px;
    color: white;
    background-color: black;
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

.page-wrap {
    overflow-y: scroll;
    height: calc(100vh - 48px);
}

small {
    display: none;
}

a {
    color: aqua;
}

.area {
    background-color: aquamarine;
    border: 1px solid black;
}

.game-machine {
    flex: 1 1 0;
    height: auto;
    width: calc(0.68 * 100vh);
    max-width: 100vw;
    margin: auto;
}

#gameEl {
    display: flex;
    flex-flow: column;
    flex: 1 1 0;
    margin: 0px; 
    height: calc(100vh - 62px);
}

.game-header {
    width: 100%;
    height: 48px;
    width: 100%;
}

#scoreEl {
    font-size: 32px;
}

.game-window {
    background: 
        linear-gradient(180deg, rgba(255,255,255,0.25), rgba(0,0,0, 1)),
        linear-gradient(90deg,  rgba(255,255,255,0.25), rgba(0,0,0, 0.5)),
        linear-gradient(270deg, rgba(255,255,255,0.25), rgba(0,0,0, 0.5)),
        linear-gradient(0deg,   rgba(255,255,255,0.25), rgba(0,0,0, 1));
    position: relative;
    aspect-ratio: 1 / 1;
    flex: 1 1 0;
    display: flex;
}

#gameDisplayEl {
    height: 384px;
    width:  384px;
    margin: auto;
    display: grid;
    grid-template-rows:    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    background-color: black;
    box-shadow: 0px 0px 20px white;
}

.game-pad {
    flex: 1 1 0;
}

#startBtnEl {
    position: absolute;
    height: 384px;
    width:  384px;
    top:  calc(50% - 192px);
    left: calc(50% - 192px);
    font-size:xx-large;
}

h1 {
    font-size: xx-large;
}

#headboardEl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameControllerEl {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    padding: 1%;
}

.button {
    flex: 2 1 0;
    padding: 1%;
}

.game-scores {
    display: flex;
    justify-content: center;
}

.game-footer {
    height: 32px;
}

@media  screen and (max-width:388px),
        screen and (max-height: 574px){
    #gameDisplayEl {
        height: 192px;
        width: 192px;
        grid-template-rows:    16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
        grid-template-columns: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    }

    #scoreEl { font-size: 16px; }

    #startBtnEl {
        height: 192px;
        width:  192px;
        top:  calc(50% - 96px);
        left: calc(50% - 96px);
        font-size:x-large;
    }
    
    .game-machine {
        width: calc(0.52 * 100vh);
        min-width: 192px;
    }
}

@media  screen and (max-width:193px),
        screen and (max-height: 379px){
    .page-wrap > * { display: none; }
}