* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {  
    overflow-y: scroll;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

footer, .shell-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 48px;
    color: white;
    background-color: black;
}

br {
    display: block;
    content: "";
    margin-top: 12px;
}

.page-wrap {
    overflow-y: scroll;
    height: calc(100vh - 48px);
}

small {
    display: none;
}

a {
    color: aqua;
}

.area {
    background-color: aquamarine;
    border: 1px solid black;
}

.game-machine {
    flex: 1 1 0;
    height: auto;
    width: calc(100vh - 184px);
    margin: auto;
}

#gameEl {
    display: flex;
    flex-flow: column;
    flex: 1 1 0;
    margin: 0px; 
    height: calc(100vh - 62px);;
}

.game-header {
    width: 100%;
    height: 48px;
    margin: auto;
    width: 100%;
}

#scoreEl {
    font-size: 32px;
}

.game-window {
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
}

#gameDisplayEl {
    height: 384px;
    width: 384px;
    margin: auto;
    display: grid;
    grid-template-rows:    32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    background-color: black;
}

.game-pad {
    height: 128px;
}

#startBtnEl {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size:xx-large;
}

.game-scores {
    display: flex;
    justify-content: center;
}

.game-footer {
    height: 32px;
}

@media  screen and (max-width:388px),
        screen and (max-height: 574px){
    #gameDisplayEl {
        height: 192px;
        width: 192px;
        grid-template-rows:    16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
        grid-template-columns: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
    }

    #scoreEl { font-size: 16px; }
}

@media  screen and (max-width:192px),
        screen and (max-height: 379px){
    * { display: none; }
}